@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model IndexViewModel


@if (!SignInManager.IsSignedIn(User))
{
    <h5>Please sign in using Google</h5>
}
else
{
    <div class="container">
        @if (@Model.SearchedDataVieModel != null)
        {
            <h5>Please fill inputs below to check information about you:</h5>

            Html.RenderPartial("~/Views/Home/SearchedData.cshtml", Model.SearchedDataVieModel);
        }
        @if (@Model.SearchedResultViewModel != null)
        {
            <h5>This informations were found using your inputs:</h5>

            Html.RenderPartial("~/Views/Home/SearchedResult.cshtml", Model.SearchedResultViewModel);
        }
    </div>
}