@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model IndexViewModel


@if (!SignInManager.IsSignedIn(User))
{
    <h5>Please sign in using Google</h5>
}
else
{
    <div class="col-6">
        <h5>Please fill inputs below to check information about your address.</h5>

        <br />

        @if (@Model.SmartyStreetViewModel != null)
        {
            Html.RenderPartial("~/Views/Home/SmartyStreet.cshtml", Model.SmartyStreetViewModel);
        }
    </div>
}