@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model IndexViewModel


@if (!SignInManager.IsSignedIn(User))
{
    <h4>Please sign in using Google</h4>
}
else
{
    @using (Html.BeginForm("SmartyStreet", "Home", FormMethod.Post))
    {
        <h4>Please fill inputs below to check information about your address.</h4>

        <br />
        <br />
        <br />

        <div class="form-group">

            <input id="Geocode" name="Geocode" type="text" value="@Model.Geocode" />



            <input type="submit" class="btn btn-info" value="Get informations">
        </div>
    }
}