@model InformationsViewModel

<div class="form-group">
    @foreach (var info in Model.Informations)
    {
        <div class="form-inline">
            <div class="col-4">
                @Html.Label(info.Key)
            </div>
            <div class="col-8">
                @Html.DisplayName(info.Value)
            </div>
        </div>
    }
</div>